<div class="profil-page">
  <div class="banner-small mb-5 profil-page-banner">

    <div class="container">
      <h1> This is your Pages#profile <%= @user.nickname %> </h1>
      <p>Music studios</p>
    </div>
    <img class="avatar-large" alt="avatar-large" src="<%= @user.photo_id_url %>" />
  </div>

  <div class="container">

    <h2 class="text-center">Mes demandes</h2>

    <section class="cards-row row">
      <%@user.studios.each do |studio| %>
        <div class="cards-row_card col-12 col-md-4">
          <div class="cards-row-overlay">
            <% if studio.photo_url.nil? %>
              <%= cl_image_tag studio.photos.first.key%>
            <% else %>
              <img src= "<%=studio.photo_url%>"/>
            <% end %>

            <div class="cards-row_card-content">
              <div class="d-flex">
                <div>
                  <h3><%= studio.title %></h3>
                  <p><%= studio.description %></p>
                </div>

                <div class="cards-row-overlay_content">
                  <i class="fas fa-usd-circle"></i>
                  <%= studio.price %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </section>
  </div>

</div>
