<div class="profil-page">
  <div class="banner-small mb-5 profil-page-banner">
    <div class="container">
      <h1> This is <%= @user.nickname %> profile </h1>
      <p>Music studios</p>
    </div>
    <img class="avatar-large" alt="avatar-large" src="<%= @user.photo_id_url %>" />
  </div>


<%# --------------------liste des studios----------------------------------- %>
  <div class="container">
    <% @user.studios.each do |studio| %>
      <div class="m-5">
      <%# ---------------- image de la card ----------------%>
        <%= link_to studio_path(studio), class:"link-without-style" do  %>
          <% if studio.photo_url.nil? && studio.photos.attached? %>
            <% url = cl_image_path studio.photos.first.key %>
          <% elsif studio.photo_url.nil? && !studio.photos.attached? %>
           <% url = "https://images.unsplash.com/photo-1560844915-bb3189e146ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1863&q=80"%>
          <% else  %>
            <% url = studio.photo_url %>
          <% end %>
      <%# ---------------- contenu de la card ----------------%>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url %>)">
            <h2 class="title-studio-card" > <%= studio.title %> </h2>
            <p class="card-studio-description"> <%= studio.address %> </p>
          </div>
        <% end %>
      <%# ---------------- bookings du studio ----------------%>
        <% if current_user == @user%>
          <% studio.bookings.each do |booking| %>
            <div class="bookings-profile-card m-2 border d-flex justify-content-between">
              <div>
                <p>Booking from: <%= booking.user.nickname %>  || email: <%= booking.user.email  %></p>
                <p>From: <%= booking.start_date  %> To: <%= booking.end_date  %> </p>
                <p>Comment: <%= booking.comment  %></p>
                <p>This booking is: <%= booking.status  %></p>
              </div>
              <div>
                <% if booking.status == "Pending" %>
                  <p> <%= link_to 'Accept', accept_path(booking), method: :patch %> </p>
                  <p> <%= link_to 'Decline', decline_path(booking), method: :patch %> </p>
                  <p><%= link_to 'Delete', studio_booking_path(studio, booking), method: :delete, data: { confirm: "Are you sure?" }  %></p>
                <% elsif booking.status == "Accepted" %>
                  <p> <%= link_to 'Change & decline', decline_path(booking), method: :patch %> </p>
                  <p><%= link_to 'Delete', studio_booking_path(studio, booking), method: :delete, data: { confirm: "Are you sure?" }  %></p>
                <% else %>
                  <p> <%= link_to 'Change & accept', accept_path(booking), method: :patch %> </p>
                  <p><%= link_to 'Delete', studio_booking_path(studio, booking), method: :delete, data: { confirm: "Are you sure?" }  %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
