<div class="profil-page">
  <div class="banner-small mb-5 profil-page-banner">

    <div class="container">
      <h1> This is <%= @user.nickname %>'s profile! </h1>
      <p>Music studios</p>
    </div>
    <img class="avatar-large" alt="avatar-large" src="<%= @user.photo_id_url %>" />
  </div>

  <div class="container">
    <h2 class="text-center">Try <%= @user.nickname %>'s studios</h2>
  </div>

   <div class="container">

    <div class="cards-grid">
      <% @user.studios.each do |studio| %>
        <%= link_to studio_path(studio), class:"link-without-style" do  %>
          <% if studio.photo_url.nil? && studio.photos.attached? %>
            <% url = cl_image_path studio.photos.first.key %>
          <% elsif studio.photo_url.nil? && !studio.photos.attached? %>
            <% url = "https://images.unsplash.com/photo-1560844915-bb3189e146ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1863&q=80"%>
          <% else  %>
            <% url = studio.photo_url %>
          <% end %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url %>)">
            <h2 class="title-studio-card" > <%= studio.title %> </h2>
            <p class="card-studio-description"> <%= studio.description %> </p>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="link">
    <%= link_to "Home", root_path, class:'btn btn-blue mt-5'%>
</div>
</div>