<div class="profil-page">
  <div class="banner-small mb-5 profil-page-banner">
    <div class="container">
      <h1> This is <%= @user.nickname %>'s profile </h1>
      <p>Music studios</p>
    </div>
    <img class="avatar-large" alt="avatar-large" src="<%= @user.photo_id_url %>" />
  </div>


  <div style="margin:0 auto;" class=" d-flex justify-content-center">
    <p class="mt-4"><%= @user.bio %></p>
  </div>


<%# --------------------liste des studios----------------------------------- %>
  <div class="container">
    <% @user.studios.each do |studio| %>
      <div class="m-5 border">
      <%# ---------------- image de la card ----------------%>
        <%= link_to studio_path(studio), class:"link-without-style" do  %>
          <% if studio.photo_url.nil? && studio.photos.attached? %>
            <% url = cl_image_path studio.photos.first.key %>
          <% elsif studio.photo_url.nil? && !studio.photos.attached? %>
           <% url = "https://images.unsplash.com/photo-1560844915-bb3189e146ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1863&q=80"%>
          <% else  %>
            <% url = studio.photo_url %>
          <% end %>
      <%# ---------------- contenu de la card ----------------%>

          <div class="card-category mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url %>)">
            <h2 class="title-studio-card" > <%= studio.title %> </h2>
            <p class="card-studio-description"> <%= studio.address %> </p>
          </div>
        <% end %>

      <%# ---------------- bookings du studio ----------------%>
      <%# --- seulement visible si c'est mon studio --------%>
        <% if current_user == @user%>
          <% studio.bookings.order(:user_id).each do |booking| %>
            <% if booking.status ==  "Accepted" %>
              <% color="background-color:#B7E4C7;" %>
            <% elsif booking.status ==  "Declined" %>
              <% color="background-color:#F4978E;" %>
            <% else %>
              <% color="background-color:#BCB8B1;" %>
            <% end %>
            <div class="ms-3">
              <div class="bookings-profile-card m-2 d-flex justify-content-between" style="<%= color %>">
                <div class="pt-3" id="booking-<%= booking.id %>">
                  <p>Booking from: <%= booking.user.nickname %>  || email: <%= booking.user.email  %></p>
                  <p>From: <%= booking.start_date  %> To: <%= booking.end_date  %> </p>
                  <p>Comment: <%= booking.comment  %></p>
                  <p>This booking is: <%= booking.status  %></p>
                </div>
                <div>
                  <% if booking.status == "Pending" %>
                    <p> <%= link_to accept_path(booking), remote: true, class:"link_to", method: :patch do %> <i class="fas fa-check"></i></p><% end %>
                    <p> <%= link_to decline_path(booking), remote: true, class:"link_to", method: :patch do %><i class="fas fa-times"></i></p><% end %>
                    <p><%= link_to studio_booking_path(studio), remote: true, class:"link_to", method: :delete, data: { confirm: "Are you sure?" } do %><i class="fas fa-trash-alt"></i></p><% end %>
                  <% elsif booking.status == "Accepted" %>




                    <p> <%= link_to decline_path(booking), remote: true, class:"link_to", method: :patch do %><i class="fas fa-times"></i></p><% end %>


                    <p><%= link_to studio_booking_path(studio, booking), remote: true,class:"link_to", method: :delete, data: { confirm: "Are you sure?" } do %><i class="fas fa-trash-alt"></i></p><% end %>
                  <% else %>
                    <p> <%= link_to accept_path(booking), remote: true, class:"link_to", method: :patch do %> <i class="fas fa-check"></i></p><% end %>
                    <p><%= link_to studio_booking_path(studio, booking), remote: true, class:"link_to", method: :delete, data: { confirm: "Are you sure?" } do %><i class="fas fa-trash-alt"></i></p><% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <%# ---------------- bookings du studio ----------------%>
        <%# --- seulement visible si c'est mon booking --------%>

        <% studio.bookings.each do |booking| %>
          <% if current_user == booking.user %>
            <% studio.bookings.each do |booking| %>
            <% if booking.status ==  "Accepted" %>
              <% color="background-color:#B7E4C7;" %>
            <% elsif booking.status ==  "Declined" %>
              <% color="background-color:#F4978E;" %>
            <% else %>
              <% color="background-color:#BCB8B1;" %>
            <% end %>
              <div class="bookings-profile-card m-2 border d-flex justify-content-between" style="<%= color %>">
                <div>
                  <p>You booked this studio</p>
                  <p>From: <%= booking.start_date  %> To: <%= booking.end_date  %> </p>
                  <p>Comment: <%= booking.comment  %></p>
                  <p>This booking is: <%= booking.status  %></p>
                </div>
                <div>
                  <p><%= link_to studio_booking_path(studio, booking), remote: true, class:"link_to", method: :delete, data: { confirm: "Are you sure?" } do %><i class="fas fa-trash-alt"></i></p><% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
