<div class="banner-small mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>Index !</h1>
    <p>Music studios</p>
    <%= link_to 'Add your music studio', new_studio_path, class:"linkto btn btn-transparent"  %>
  </div>
</div>


<div class="container">
  <div class="grid">
    <% @studios.each do |studio| %>
      <%= link_to studio_path(studio), class:"linkto" do  %>
        <div class="card-product mb-3">








          <% if studio.photo_url.nil? && studio.photos.length > 0 %>
            <%= cl_image_tag studio.photos.first.key %>
          <% elsif studio.photo_url.nil? && studio.photos.length < 1%>
            <img src= "https://images.unsplash.com/photo-1598653222000-6b7b7a552625?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"/>
          <% else %>
            <img src= "<%=studio.photo_url%>"/>
          <% end %>













          <div class="card-product-infos">
            <h2><%= studio.title %></h2>
            <p><%= studio.description %></p>
            <p><%= studio.address%></p>
            <p><%= studio.price %></p>
            <p><%= studio.user.email %></p>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>


<%# ------------------------------- GEOCODER -------------------------------- %>
  <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
