<div class="banner-small mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="banner-content" style="padding-left: 75px">
    <h1>Visit our studios !</h1>
    <p>And play music</p>
    <%= link_to 'Add your music studio', new_studio_path, class:"linkto btn-transparent-white"  %>
  </div>
</div>

<%# ---------------------------- Search BAR------------------------------ %>
<div class="container">
  <div class="m-5">
    <div>
      <%= form_tag studios_path, class:"input-group", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control mb-3",
          placeholder: "Find a place to play"
        %>
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <% end %>
    </div>

    <%# ---------------------------- CARDS STUDIOS ------------------------------ %>

    <div class="d-flex" >
      <div class="cards-grid">
        <% @studios.each do |studio| %>
          <%= link_to studio_path(studio), class:"link-without-style" do  %>
            <% if studio.photo_url.nil? && studio.photos.attached? %>
              <% @url = cl_image_path studio.photos.first.key %>
            <% elsif studio.photo_url.nil? && !studio.photos.attached? %>
              <% @url = "https://images.unsplash.com/photo-1560844915-bb3189e146ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1863&q=80"%>
            <% else  %>
              <% @url = studio.photo_url %>
            <% end %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @url %>)">
            <div class="title-studio-card">
              <h2 > <%= studio.title %> </h2>
            </div>

            <div class="card-studio-description">
              <p class="address"><%= studio.address %></p>
            <div class="d-flex justify-content-between mt-auto">
              <p> <strong> <%= studio.user.nickname %> </strong></p>
              <p><%= studio.price%> €/day</p>
            </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>

      <%# ------------------------------- GEOCODER -------------------------------- %>
      <div id="map">
        <div class="" style="width: 100%; height: 600px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
