<div class="banner-small mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.ctfassets.net/anpxw7hl9rcg/6i3V4opLFffyrrG6WoCYsP/f9fdb70e292ce2969d8021a0632afb82/_10_gargolandia.jpg);">
  <div class="container">
    <h1>Studio Image</h1>
  </div>
</div>

<div class="container">

  <h1 class="d-flex justify-content-center"> <strong> <%= @studio.title %></strong></h1>
  <p class="d-flex justify-content-center mt-5"> <%= @studio.description %></p>
  <p> Back
    <%= link_to studios_path, class: "text-warning" do %>
    <i class="fas fa-undo"></i>
    <% end %>
  </p>

  <%# Seulement si user connecté et que c'est son studio %>
  <% if policy(@studio).edit? %>
    <%= link_to 'edit studio', edit_studio_path(@studio), class:"btn btn-primary mb-3" %>
  <% end %>
  <% if policy(@studio).destroy? %>
    <%= link_to 'delete studio', studio_path(@studio), class:"btn btn-warning",
  method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
