<div class="banner-small mb-5"
  <%# banner: soit photo cloudinary, soit photo_url seed soit photo par defaut %>
    <% if @studio.photo_url.nil? && @studio.photos.attached? %>
      <% url = cl_image_path @studio.photos.first.key %>
    <% elsif @studio.photo_url.nil? && !@studio.photos.attached? %>
      <% url = "https://images.ctfassets.net/anpxw7hl9rcg/6i3V4opLFffyrrG6WoCYsP/f9fdb70e292ce2969d8021a0632afb82/_10_gargolandia.jpg"%>
    <% else  %>
      <% url = @studio.photo_url %>
    <% end %>
      style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url %>);">

<div class="container">
  <div class="d-flex justify-content-start align-items-center">
    <h1 class="me-2"><%= @studio.title  %></h1>

    <div class="d-flex ml-3">
    <% @totalrating = 0 %>
    <%if @studio.reviews.length >= 1 %>
      <% @studio.reviews.each do |review| %>
        <% @totalrating += review.rating %>
      <% end %>

      <% @average2 = (@totalrating.fdiv(@studio.reviews.length)).round(1) %>
      <% @average = @totalrating / @studio.reviews.length %>
      <% @average.round.times do %>
        <i class="fas fa-star ml-1"></i>
      <% end %>
      <% if (@average) < 5 %>
        <% (5 - @average.round).times do %>
          <i class="far fa-star ml-1"></i>
        <% end %>
      <% end %>
    <% end %>
    </div>
    </div>
    <h1>By: <%= @studio.user.nickname %></h1>
    <img class="avatar-show" src="<%=@studio.user.photo_id_url%>" alt="">
    <%= link_to 'Visit Profil', profile_path(@studio.user.id), class:"btn btn-blue" %>
</div>
</div>


<%# ------------------------- TITRE ET DESCRIPTION -------------------------- %>
<div class="container">
  <div class="studioinfos">
    <h2 class="d-flex justify-content-center"> <strong> <%= @studio.title %></strong></h2>
    <p class="d-flex justify-content-center mt-3"> <%= @studio.description %></p>
  </div>
</div>

<%# -------------- CAROUSEL PHOTOS STUDIO si photos cloudi >= 3 -------------- %>
<div class="container">
  <% if @studio.photos.length > 1%>
    <div class="carouselle d-flex justify-content-center">
      <div id="carouselExampleIndicators" class="carousel slide input-group w-50" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% @studio.photos.each do |photo| %>
              <div class="carousel-item <%= 'active' if @studio.photos.index(photo) == 0 %>">
                <%= cl_image_tag photo.key, class: 'w-100' %>
              </div>
            <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  <%end %>
</div>

<%# --------------------------- FORM BOOKING STUDIO ------------------------- %>
<div class="container p-5 d-flex align-items-center justify-content-between border m-5">
  <%# -------- partie formulaire ------------- %>
  <div class="w-50 ms-5 me-5">
    <h2 class="text-center">Book a session </h2>
    <%= simple_form_for [@studio, @booking], html: {data: {controller: 'flatpickr' }} do |f| %>
    <div data-flatpickr-target= "date" data-bookings = "<%= @dates.to_json%>" ></div>
      <%= f.input :start_date, as: :string, required: true, input_html: {data:{target: 'start_date'}, class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: true, input_html: {data:{target: 'end_date'}, class: "datepicker", id: 'enddate'} %>
      <%= f.input :comment %>
      <% if current_user != @studio.user %>
        <%= f.submit class:"btn btn-blue mt-2 d-grid gap-2 col-6 mx-auto" %>
      <% else %>
        <p style="font-size:12px;">This is your studio, no need to book, you can use it when it is available</p>
      <% end %>
    <% end %>
  </div>


  <%# -------- partie bookings ------------- %>
<%# -- SEULEMENT LE PROPRIETAIRE DU STUDIO VOIT LES BOOKINGS -- %>
  <div class="me-5 ms-5">
    <%if  @studio.user == current_user %>
    <p>You have <%= @studio.bookings.length %> bookings for this studio</p>
      <% @studio.bookings.each do |booking| %>
        <%= link_to profile_path(current_user), style:"text-decoration:none;" do %>
          <div class="card-booking">
            <h3 style="color:black;"> You have a booking from <%= booking.user.nickname %></h3>
          </div>
        <% end %>
      <% end%>
    <%end %>
  </div>

<%# -- SEULEMENT LA PERSONNE QUI BOOK VOIT SON BOOKINGS -- %>
  <div class="me-5">
    <% @studio.bookings.each do |booking| %>
      <% if booking.user == current_user %>
        <div class="card-booking">
          <h3 style="color:black;"> You booked this studio =>   </h3>
          <h3 style="color:black;"> from <%= booking.start_date %> to <%= booking.end_date %> </h3>
          <%# mettre un link to delete booking? %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<%# ----------------------------- debut reviews ----------------------------------- %>
<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-between">
      <div>
      <% if @studio.reviews.blank? %>
      <p></p>
      <% else %>
      <h3>Reviews</h3>
      <p>Moyenne : <%= @average2 %></p>
      <% end %>
      <% unless @studio.reviews.blank? %>
        <% @studio.reviews.each do |review| %>
        <%= link_to profile_path(review.user.id) do %>
          <img class="avatar-square" src="<%=review.user.photo_id_url%>" alt="">
        <% end %>
        <p>
          <% Review::AUTHORIZED_RATINGS.each do |number| %>
            <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
          <% end %>
          <%= review.comment %>
        </p>
        <% end %>
    <% end %>
    </div>

    <% if current_user != @studio.user %>
      <div class="w-50">
        <h2>Leave Feedback after your stay :</h2>
        <%= simple_form_for [@studio, @review] do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating, as: :hidden  %>
        <div class="my-3">
          <% Review::AUTHORIZED_RATINGS.each do |index| %>
            <i id="<%= index %>" class="review-rating far fa-star"></i>
          <% end %>
        </div>
        <%= f.submit class: "btn btn-blue", value: "Validate" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<%# ---------------------------- BOUTONS ET LIENS -------------------------- %>
<div class="basdepage mt-5 ms-5">
  <p class="btn-white-undo"> Back Home
  <%= link_to studios_path, class: "text-dark" do %>
    <i class="fas fa-undo"></i>
  <% end %>
  </p>
  <% if policy(@studio).edit? %>
    <%= link_to 'Edit studio', edit_studio_path(@studio), class:"btn-blue mb-3" %>
  <% end %>
  <% if policy(@studio).destroy? %>
    <%= link_to 'Delete studio', studio_path(@studio), class:"btn-red",
    method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
