<div class="banner-small mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.ctfassets.net/anpxw7hl9rcg/6i3V4opLFffyrrG6WoCYsP/f9fdb70e292ce2969d8021a0632afb82/_10_gargolandia.jpg);">
  <div class="container">
    <h1>Studio Image</h1>
  </div>
</div>

<div class="studioinfos">

  <h1 class="d-flex justify-content-center"> <strong> <%= @studio.title %></strong></h1>
  <p class="d-flex justify-content-center mt-5"> <%= @studio.description %></p>
</div>

<div class="carouselle d-flex justify-content-center">
  <div id="carouselExampleIndicators" class="carousel slide input-group w-50" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1600660585289-c82cbd373e13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fG11c2ljcyUyMHN0dWRpb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1463421585849-6b0acf2c9257?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bXVzaWNzJTIwc3R1ZGlvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1543510616-a4025b9c1434?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG11c2ljcyUyMHN0dWRpb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div class="container mt-5">
    <h2 class="text-center">Book a session </h2>
    <%= simple_form_for [@studio, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit class:"btn btn-primary mt-2 d-grid gap-2 col-6 mx-auto" %>
    <% end %>
  </div>


<div class="basdepage mt-5">
  <p> Back
    <%= link_to studios_path, class: "text-warning" do %>
    <i class="fas fa-undo"></i>
    <% end %>
  </p>


  <%# Seulement si user connecté et que c'est son studio %>
  <%= link_to 'edit studio', edit_studio_path(@studio), class:"btn btn-primary mb-3" %>
  <%= link_to 'delete studio', studio_path(@studio), class:"btn btn-warning",
  method: :delete, data: { confirm: "Are you sure?" } %>
</div>
