<div class="banner-small mb-5"
<%# banner: soit photo cloudinary, soit photo_url seed soit photo par defaut %>
  <% if @studio.photo_url.nil? && @studio.photos.attached? %>
    <% url = cl_image_path @studio.photos.first.key %>
  <% elsif @studio.photo_url.nil? && !@studio.photos.attached? %>
    <% url = "https://images.ctfassets.net/anpxw7hl9rcg/6i3V4opLFffyrrG6WoCYsP/f9fdb70e292ce2969d8021a0632afb82/_10_gargolandia.jpg"%>
  <% else  %>
    <% url = @studio.photo_url %>
  <% end %>
 style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url %>
);">

  <div class="container">
    <h1><%= @studio.title %></h1>
    <h1>Owner: <%= @studio.user.nickname %></h1>
    <img class="avatar-show" src="<%=@studio.user.photo_id_url%>" alt="">
    <%= link_to 'Visit Profil', profile_path(@studio.user.id), class:"btn btn-blue" %>
  </div>
</div>

<%# ------------------------- TITRE ET DESCRIPTION -------------------------- %>
<div class="container">
  <div class="studioinfos">
    <h2 class="d-flex justify-content-center"> <strong> <%= @studio.title %></strong></h2>
    <p class="d-flex justify-content-center mt-3"> <%= @studio.description %></p>
  </div>
</div>

<%# -------------- CAROUSEL PHOTOS STUDIO si photos cloudi >= 3 -------------- %>
<div class="container">
  <% if @studio.photos.length > 1%>
    <div class="carouselle d-flex justify-content-center">
      <div id="carouselExampleIndicators" class="carousel slide input-group w-50" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% @studio.photos.each do |photo| %>
              <div class="carousel-item <%= 'active' if @studio.photos.index(photo) == 0 %>">
                <%= cl_image_tag photo.key, class: 'w-100' %>
              </div>
            <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  <%end %>
</div>

<%# --------------------------- FORM BOOKING STUDIO ------------------------- %>
<div class="container mt-5 d-flex align-items-center justify-content-between">
  <%# -------- partie formulaire ------------- %>
  <div class="w-50 ms-5 me-5">
    <h2 class="text-center">Book a session </h2>
    <p>ajouter un champ "comment" au booking</p>
    <%= simple_form_for [@studio, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit class:"btn btn-blue mt-2 d-grid gap-2 col-6 mx-auto" %>
    <% end %>
  </div>
  <%# -------- partie bookings ------------- %>
<%# -- SEULEMENT LE PROPRIETAIRE DU STUDIO VOIT LES BOOKINGS -- %>
  <div class="me-5 ms-5">
    <%if  @studio.user == current_user %>
    <p>You have <%= @studio.bookings.length %> bookings pending</p>
      <% @studio.bookings.each do |booking| %>
      <%# mettre un link_to vers son profile id pour pouvoir gerer les notifs  %>
        <div class="card-booking">
          <h3 style="color:black;"> You have a booking from <%= booking.user.nickname %></h3>
        </div>
      <% end%>
    <%end %>
  </div>

<%# -- SEULEMENT LA PERSONNE QUI BOOK VOIT SON BOOKINGS -- %>
  <div class="me-5">
    <% @studio.bookings.each do |booking| %>
      <% if booking.user == current_user %>
        <div class="card-booking">
          <h3 style="color:black;"> You booked this studio =>   </h3>
          <h3 style="color:black;"> from <%= booking.start_date %> to <%= booking.start_date %> </h3>
          <%# mettre un link to delete booking? %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>















































<%# ----------------------------- debut 145 reviews ----------------------------------- %>

<div class="container mt-5 d-flex align-items-center justify-content-between">

  <div>

  <p>
    Moyenne : <%= @average_rating %>
  </p>

    <% @reviews.each do |review| %>
      <p>
        <% Review::AUTHORIZED_RATINGS.each do |number| %>
          <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
        <% end %>
        <%= review.comment %>
      </p>
    <% end %>
  </div>

  <div>
    <h2>Leave Feedback after your stay :</h2>
    <%= simple_form_for [@studio, @review] do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating, as: :hidden  %>
      <div class="my-3">
        <% Review::AUTHORIZED_RATINGS.each do |index| %>
          <i id="<%= index %>" class="review-rating far fa-star"></i>
        <% end %>
      </div>
      <%= f.submit class: "btn btn-primary", value: "Valider" %>
    <% end %>
  </div>
</div>
















<%# ----------------------------- fin reviews ----------------------------------- %>



<%# ---------------------------- BOUTONS ET LIENS -------------------------- %>
<div class="basdepage mt-5 ms-5">
  <p> Back Home
  <%= link_to studios_path, class: "text-warning" do %>
    <i class="fas fa-undo"></i>
  <% end %>
  </p>
  <% if policy(@studio).edit? %>
    <%= link_to 'edit studio', edit_studio_path(@studio), class:"btn btn-blue mb-3" %>
  <% end %>
  <% if policy(@studio).destroy? %>
    <%= link_to 'delete studio', studio_path(@studio), class:"btn btn-warning",
    method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
