<!DOCTYPE html>
<html>
  <head>
    <title>On Air Studio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>

    <%= render 'shared/flashes' %>





    <div class="footer mt-5">
      <div class="d-flex">
        <div class="footer-links">
          <a href="https://github.com/Pyh0rns/rails-airbnb-clone"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="footer-links">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
      </div>

      <div class="infos">
        <h3>Who we are?</h3>
          <a href="">Contact us</a>
          <a href="">General Conditions</a>
      </div>

      <div class="infos">
        <h3> Be part of the adventure!</h3>
          <a href="">Rent your studio</a>
          <a href="">Book a studio</a>
      </div>

       <div class="infos">
        <h3> Candidate</h3>
          <a href="">Send your resume</a>
          <a href="">Candidate Profile</a>
      </div>

      <div class="footer-copyright">
       <p>This footer is made with <i class="fas fa-heart"></i> at Le Wagon</p>
      </div>
    </div>
  </body>
</html>
